<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>editing <%=song.title%></title>
  </head>
  <body>
    <div class="container">
      <h3>editing <%=song.title%></h3>
      <form action="/<%=song._id%>?_method=PUT" method="POST">
        <textarea id="notepad" name="notation" rows="30" cols="100">
<%=song.notation%></textarea
        ><br />
        artist:
        <input type="text" name="artist" value="<%=song.artist%>" /><br />
        song title: <input type="text" name="title" value="<%=song.title%>" />
        <br />
        tab author:
        <input type="text" name="author" value="<%=song.author%>" /> <br />
        image url: <input type="text" name="img" value="<%=song.img%>" /> <br />
        <input type="submit" value="update song" />
      </form>
      <button onclick="addSheet()">add tab block</button>
      <button onclick="clearSheet()">clear notation</button>
      <form action="/<%= song._id %>?_method=DELETE" method="POST">
        <input type="submit" value="delete" />
    </form>
    <a href="/<%=song._id%>">discard changes and return</a>
    </div>
    <%-include('../public/scripts/editor.ejs')%>
  </body>
</html>
