<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=song.title%></title>
</head>
<body>
    <h1><%=song.title%></h1>
    <h3>music and lyrics by <%=song.artist%>.</h3>
    <p><%=song.notation%></p>
    <h4> Tabbed by <%=song.author%></h4>
<footer>
    <a href="/">return to all songs</a>
    <a href="/<%=song._id%>/edit">edit</a>
</footer>
</body>
</html>